
*{
  box-sizing: border-box;
}
.heading{
  text-align: center;
  background-color: rgb(58, 57, 57);
  color: rgb(207, 204, 204);
  margin-top: 10px;
}

body{

  background-color: #202129;
  color: white;
  font-family: "poppins",sans-serif;
  margin: 0;
  
}

.movie{
  background-color: #494d74;
  width:300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.movie img{
  max-width: 100%;
  }
.movie_info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  color: rgb(211, 212, 212);
}
.movie_info h5{
  margin: 0px;
}
.movie_overview{

  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color:  #22254b;
  background-color: white;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0 ,0, 0, 0.1);


}
.movie:hover .movie_overview{
  transform: translateY(0%);
  cursor: pointer;
}